* {
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: #003366; /* Azul escuro combinando com o site */
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #66b3ff; /* Azul mais claro ao passar o mouse */
}

.hero-section {
    background: url('../imgs/busao.jpeg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1; /* Garante que a hero-section seja visível acima da sobreposição */
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 50, 0.3); /* Cor sobreposta escura */
    z-index: 0; /* Coloca a sobreposição abaixo do texto */
}

.hero-section h1, .hero-section p {
    position: relative;
    z-index: 2; /* Garante que o texto fique acima da sobreposição */
    font-size: 8vw;
}

.hero-section p {
    font-size: 1.5rem;
    z-index: 1;
}

.post-section {
    padding: 60px 15px;
    text-align: center; /* Centraliza o texto */
}

.post-section h2 {
    font-weight: bold;
    margin-bottom: 20px; /* Adiciona um espaçamento abaixo do título */
}
.stretched-link-1 {
    color: rgb(0, 0, 0); /* Define a cor padrão do texto como branco */
    text-decoration: none; /* Remove a linha embaixo do texto */
    
}

.stretched-link-1:hover {
    color: rgb(0, 81, 255); /* Mantém a cor branca ao passar o mouse */
    text-decoration: none; /* Garante que não apareça a linha embaixo */
    transition: all .3s;
}
.stretched-link-2 {
    color: rgb(0, 0, 0); /* Define a cor padrão do texto como branco */
    text-decoration: none; /* Remove a linha embaixo do texto */
    
}

.stretched-link-2:hover {
    color: rgb(0, 81, 255); /* Mantém a cor branca ao passar o mouse */
    text-decoration: none; /* Garante que não apareça a linha embaixo */
    transition: all .3s;
}
.stretched-link-3 {
    color: rgb(0, 0, 0); /* Define a cor padrão do texto como branco */
    text-decoration: none; /* Remove a linha embaixo do texto */
    
}

.stretched-link-3:hover {
    color: rgb(0, 81, 255); /* Mantém a cor branca ao passar o mouse */
    text-decoration: none; /* Garante que não apareça a linha embaixo */
    transition: all .3s;
}
.stretched-link-4 {
    color: rgb(0, 0, 0); /* Define a cor padrão do texto como branco */
    text-decoration: none; /* Remove a linha embaixo do texto */
    
}

.stretched-link-4:hover {
    color: rgb(0, 81, 255); /* Mantém a cor branca ao passar o mouse */
    text-decoration: none; /* Garante que não apareça a linha embaixo */
    transition: all .3s;
}

.post-section p {
    color: gray;
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do parágrafo */
}

.older-posts {
    text-align: center; /* Centraliza o botão de 'Older Posts' */
    margin-top: 20px;
}
.social-icons {
    font-size: 1.5rem;
    margin-top: 20px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
}



.older-posts a {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.older-posts a:hover {
    background-color: #138496;
}